﻿@using Shop1.Data.Models
@model IEnumerable<Items>

@{
    Layout = "_Layout";
}

<h2>Все предметы:</h2>
@{
    foreach (Items item in Model)
    {
        <div class="item">
            <img src="@item.Img" />
            <div class="data">
                <h3>Наименование: @item.Name</h3>
                <p>Цена: @item.Price</p>
                <p>Категория: @item.Category.Name</p>
                <p>Описание: @item.Description</p>
            </div>
        </div>
    }
}